<template>
  <div class="bookmarks mt-5">
    <div v-if="this.$store.getters.BOOKMARKS.length>0">
      <div v-for="(item, index) in this.$store.getters.BOOKMARKS" v-bind:key="index">
        <RepoCard :item="item"/>
      </div> 
    </div>
  </div>
</template>

<script>
import RepoCard from "@/components/RepoCard"

export default {
  name: "Bookmarks",
  components: {
    RepoCard
  },
  data: () => ({
  }),
  methods: {
  }
}
</script>

<style>
.repo-card a {
  color: inherit !important;
  text-decoration: unset;
}
</style>