<template>
  <div class="home">
    <v-row>
      <v-text-field label="Github search field" v-model="searchField" @input="searchChange()"></v-text-field>
    </v-row>
    <v-row align="center" justify="center">
      <p v-if="errorMessage.length>0">{{this.errorMessage}}</p>
      <pulse-loader :loading="isLoading" class="mt-5"></pulse-loader>
    </v-row>
    <div v-if="this.repositories.length>0">
      <div v-for="(item, index) in repositories" v-bind:key="index">
        <RepoCard :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PulseLoader from "vue-spinner/src/PulseLoader.vue";

import RepoCard from "@/components/RepoCard";

export default {
  name: "Home",
  components: {
    PulseLoader,
    RepoCard
  },
  data: () => ({
    searchField: "",
    source: "",
    isLoading: false,
    repositories: [],
    errorMessage: "",
    debounce: null
  }),
  methods: {
    searchChange() {
      clearTimeout(this.debounce);
      this.isLoading = true;
      this.repositories = [];
      this.errorMessage = "";
      this.debounce = setTimeout(() => {
        this.source.cancel("Operation canceled by the user.");
        const CancelToken = this.axios.CancelToken;
        this.source = CancelToken.source();
        this.axios
          .get(
            "https://api.github.com/search/repositories?q=" + this.searchField,
            {
              cancelToken: this.source.token
            }
          )
          .then(response => {
            this.isLoading = false;
            this.repositories = response.data.items;
            if (response.data.total_count === 0) {
              this.errorMessage = "No results!";
            }
            this.repositories.forEach((e, i) => {
              this.axios
                .get(
                  "https://raw.githubusercontent.com/" +
                    e.owner.login +
                    "/" +
                    e.name +
                    "/master/README.md"
                )
                .then(response => {
                  this.$set(this.repositories[i], "readme", response.data);
                })
                .catch(() => {
                  this.$set(
                    this.repositories[i],
                    "readme",
                    "No readme or error!"
                  );
                });
            });
          })
          .catch(error => {
            if (error.response) {
              this.errorMessage = "Error! Please search again.";
              this.isLoading = false;
            }
          });
      }, 400);
    }
  },
  mounted() {
    const CancelToken = this.axios.CancelToken;
    this.source = CancelToken.source();
  }
};
</script>

<style scoped>
</style>
