<template>
  <v-card class="mb-2 repo-card">
    <v-row no-gutters>
      <v-col sm="10">
        <a :href="item.html_url" target="_blank">
          <v-card-title>{{item.name}}</v-card-title>
          <v-card-subtitle>{{item.owner.login}}</v-card-subtitle>
          <v-card-text>
            <v-row>
              <v-col class="pt-1 pb-1">Stars: {{item.stargazers_count}}</v-col>
            </v-row>
            <v-row>
              <v-col class="pt-1 pb-1">Forks: {{item.forks_count}}</v-col>
            </v-row>
          </v-card-text>
        </a>
      </v-col>
      <v-col sm="2">
        <v-row justify="end" no-gutters class="mt-5 mr-4">
          <v-icon
            v-if="checkForBookmark(item.id)"
            @click="deleteRepoFromBookmarks(item)"
          >mdi-bookmark-check-outline</v-icon>
          <v-icon v-else @click="addRepoToBookmarks(item)">mdi-bookmark-outline</v-icon>
        </v-row>
      </v-col>
      <v-row v-if="item.readme" class="w-full">
        <v-col>
          <vue-markdown class="px-5 markdown-field">{{item.readme}}</vue-markdown>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col>
          <div class="px-5 no-readme-field">
            <pulse-loader class="mt-5"></pulse-loader>
          </div>
        </v-col>
      </v-row>
    </v-row>
    <v-snackbar
      v-model="snackbarAdd"
      :timeout="timeout"
    >
      You've added bookmark!
      <v-btn
        color="blue"
        text
        @click="deleteRepoFromBookmarksInSnack(item)"
      >
        Undo
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="snackbarRemove"
      :timeout="timeout"
    >
      You've removed bookmark!
      <v-btn
        color="blue"
        text
        @click="addRepoToBookmarksInSnack(item)"
      >
        Undo
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import VueMarkdown from "vue-markdown";

export default {
  name: "RepoCard",
  components: {
    PulseLoader,
    VueMarkdown
  },
  props: {
    item: Object
  },
  data: () => ({
    snackbarAdd: false,
    snackbarRemove: false,
    timeout: 3000,
  }),
  methods: {
    addRepoToBookmarksInSnack(repo) {
      this.$store.dispatch("SAVE_BOOKMARK", repo);
      this.snackbarRemove = false;
    },
    deleteRepoFromBookmarksInSnack(repo) {
      this.$store.dispatch("DELETE_BOOKMARK", repo);
      this.snackbarAdd = false;
    },
    addRepoToBookmarks(repo) {
      this.snackbarAdd = true;
      this.$store.dispatch("SAVE_BOOKMARK", repo);
    },
    deleteRepoFromBookmarks(repo) {
      this.snackbarRemove = true;
      this.$store.dispatch("DELETE_BOOKMARK", repo);
    },
    checkForBookmark(id) {
      /* console.log(this.$store.getters.BOOKMARKS.find(x => x.id === id)) */
      return this.$store.getters.BOOKMARKS.some(x => x.id === id)
    },
  }
};
</script>

<style scoped>
.repo-card a {
  color: inherit !important;
  text-decoration: unset;
}
.markdown-field {
  height: 300px;
  overflow-y: scroll;
  width: 100%;
}
.no-readme-field {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-card__text {
  padding-bottom: 0px;
}
.w-full {
  width: 100%;
}
</style>