<template>
  <v-app>
    <v-content class="content__wrap">
      <v-container>
        <div id="top-panel">
          <div class="navig">
            <router-link to="/" class="mr-1">Home</router-link>|
            <router-link to="/bookmarks" class="ml-1">Bookmarks</router-link>
          </div>
          <div>Bookmarks: {{this.$store.getters.BOOKMARKS.length}}</div>
        </div>
        <keep-alive>
          <router-view />
        </keep-alive>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",

  components: {
  },

  data: () => ({
  })
});
</script>

<style>
.container {
  max-width: 700px;
}
.content__wrap {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
#top-panel {
  display: flex;
  justify-content: center;
}
.navig {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateX(48px);
}
</style>